@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("react-datepicker/dist/react-datepicker.css");

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
}

.nav-link a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.active {
  background-color: #186f65;
  color: #fff !important;
  border-radius: 4px;
  padding: 5px;
  transition: background-color, color 0.3s ease;
}

.main {
  min-height: calc(100vh - 182px);
}

.custom-input-for-date-time .react-datepicker-wrapper {
  width: 100%;
}
.custom-input {
  background-color: #186f65 !important;
  color: #fff !important;
}

.custom-input::placeholder {
  color: #fff !important;
}

.booking-form-container {
  background-color: #fce09b;
  border-radius: 0.5rem;
}
